
div.section
    div.card-small
        div.section__title
            h2.title Регистрация
        div.section__main
            form.form(action='#' name="signUp")
                div#signUpMessage
                div.form__item
                    label.form__item__label(for='email')
                        span.form__item__span Email
                        input.form__item__input(type='email' name='email' required)
                div.form__item
                    label.form__item__label(for='username')
                        span.form__item__span Логин
                        input.form__item__input(type='text' name='username' required)
                        //- ul.input-requirements
                        //-     li Должен содержать от 3 до 100 сиволов
                        //-     li Должен содержать только буквы и цифры
                div.form__item
                    label.form__item__label(for='password')
                        span.form__item__span Пароль
                        input.form__item__input(type='password' name='password' required)
                        //- ul.input-requirements
                        //-     li Пароль должен содержать от 8 до 100 символов
                        //-     li Должна присутствовать минимум 1 цифра
                div.form__item
                    label.form__item__label(for='passwordRepeat')
                        span.form__item__span Повторите пароль
                        input.form__item__input(type='password' name='passwordRepeat' required)
                        //- ul.input-requirements
                        //-     li Пароли должны совпадать
                div.form__button
                    button.button(type='submit' ) Отправить
                div
                    a#login.route.form__link(href='#' data-section='/signin') Войти
