div.section
    div.section__title
        h2.title Sign In
    div.section__main
        form.form#SignIn(action='#' name='signIn')
            div#respError
            div.form__item
                lable.form__item__label(for='username') Username or e-mail address
                div#usernameError
                input#username.form__item__input(type='text' name='username')
            div.form__item
                lable.form__item__label(for='password') Password
                div#passwordError
                input#password.form__item__input(type='password' name='password')
            div.form__item
                button#login(name='login' type='submit' data-section='sendLogin') Login
            div.form__item
                a#forgot.form__link(href='#') Forgot your password?
            div.form__item
                a#regist.form__link(href='#') Registration
