.profile__avatar {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.section__column1 {
  border: 1px solid black;
  border-radius: 10px;
}

.profile-menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.repository-card {
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
