div.section
    div.card
        div.section__title
            .section__title__item
                h2.title Новый пулл реквест

        div.section__main
            hr.line-separator.line-separator_thin

            div.repository
                div#message.error-msg

                form.form_large.requestForm(action='#' name='newRequest')
                    div.form__item
                        label.form_large__item__label(for="requestTitle")
                            span.form__item__span Заголовок
                            input#requestTitle.form__item__input.issueForm_input(type="text" name="requestTitle")

                    if is_fork
                        div.form__item
                            div
                                label.form-horizontal__item__label(for="repNameTo") основная ветка: &nbsp&nbsp
                                    select#repNameTo.form__item__input(name="repNameTo" required)
                                    select#branchNameTo.form__item__input(name="branchNameTo" required style="margin-left : 10px")
                            div
                                label.form-horizontal__item__label(for="repNameFrom") <— &nbsp&nbsp
                                    select#repNameFrom.form__item__input(name="repNameFrom" required)
                                    select#branchNameFrom.form__item__input(name="branchNameFrom" required style="margin-left : 10px")

                    else
                        div.form__item.form__item-request
                            div.form__item-repName Репозиторий: #{repName}
                            div
                                label.form-horizontal__item__label(for="branchNameTo") основная ветка: &nbsp&nbsp
                                    select#branchNameTo.form__item__input(name="branchNameTo" required)

                                label.form-horizontal__item__label(for="branchNameFrom") <— &nbsp&nbsp
                                    select#branchNameFrom.form__item__input(name="branchNameFrom" required)



                    div.form__item
                        label.form_large__item__label(for="requestMsg") Текст
                        textarea#requestMsg.form__item__input_long.issueForm_input-text(name="requestMsg")


                    button#CreateRequest.button.button-colored.button-small.issueButton Сохранить
                    hr.line-separator.line-separator

            hr.line-separator.line-separator_thin
