
div.section
  div.section__main
    div.profile
      div.profile-info.card
        h1.title Edit profile
        hr.line-separator.line-separator_extra-thin
        img.profile__avatar(src=image alt='avatar')
        form(enctype='multipart/form-data' name='setAvatar')
          div#avatarMessage
          div.profile__image-input
            input(type='file' name='avatar' required)
          div.profile-info__button
            button.button.button_long(type='submit') Change avatar
      div.profile__data.card
        div.form.form_large
          form(name='setProfile')
            div#profileMessage
            div.form__item
              label.form_large__item__label(for='name')
                span.form__item__span Name
                input#name.form__item__input.form__item__input_long(type='text' name='name' value=name optional)
            div.form__item
              label.form_large__item__label(for='email')
                form.form__item__span Email
                input#email.form__item__input.form__item__input_long(type='email' name='email' value=email required)
            div.form__button
              button.button.button-colored(type='submit') Save changes
            table.repository__tree
              hr.line-separator.line-separator_thin
          form(name='setPassword')
            div#passwordMessage
            div.form__item
              label.form__item_label(for='oldPassword')
                span.form__item__span old password
                input#oldPassword.form__item__input(type='password' name='oldPassword' required)
                //- ul.input-requirements
                //-   li Пароль должен содержать от 8 до 100 символов
                //-   li Должна присутствовать минимум 1 цифра
            div.form__item
              label.form__item_label(for='password') 
                span.form__item__span new password
                input#newPassword.form__item__input(type='password' name='password' required)
                //- ul.input-requirements
                //-   li Пароль должен содержать от 8 до 100 символов
                //-   li Должна присутствовать минимум 1 цифра
            div.form__item
              label.form__item_label(for='passwordRepeat') 
                span.form__item__span new password again
                input#newPassword2.form__item__input(type='password' name='passwordRepeat' required)
                //- ul.input-requirements
                //-   li Пароли должны совпадать
            div.form__button
              button.button.button-colored(type='submit' name='submit') Save changes
