div.section
  div.section__title
    h2.title Edit profile
  div.section__main
    div.section__main__columns
      div.section__column1
        div.profile-info
          img.profile__avatar(src= '#{avatar}'alt='avatar' src='#{avatar}')
          form.form.form_large(enctype='multipart/form-data' update='setAvatar')
            div.profile__image-input
              input(type='file' name='avatar')
            div.profile__button
              button.button.button_long(type='submit' name='image') Change avatar
    div.section__column2
      form.form.form_large(name='setProfile')
        div.form__item
          label.form_large__item_label(for='name') Name
          input.form__item__input_long(type='text' name='name' value='#{name}')
        div.form__item
          label.form_large__item_label(for='email') Email
          input.form__item__input_long(type='email' name='email' value='#{email}')
        div.form__button
          button.button.button-colored(type='submit' name='submit') Save changes
      form.form.form_large(name='setPassword')
        div.form__item
          label.form_large__item_label(for='oldPassword') Email
          input.form__item__input_long(type='password' name='oldPassword' )
        div.form__item
          label.form_large__item_label(for='newPassword') Name
          input.form__item__input_long(type='password' name='newPassword' )
        div.form__item
          label.form_large__item_label(for='newPassword2') Email
          input.form__item__input_long(type='password' name='newPassword2' )
        div.form__button
          button.button.button-colored(type='submit' name='submit') Save changes


