div.section
    div.section__title
        h2.title Repository: #{repName}
    div.section__main
        div.rep-menu
            div.rep-menu__item
                button#code.button(name='code', type='submit') Code
            div.rep-menu__item
                button#branches.button(type='submit') Branches
            div.rep-menu__item
                button#commits.button(type='submit') Commits
            div.rep-menu__item
                button#settings.button(type='submit') Settings
    hr.line-separator.line-separator_thin
    div.repository
        block content
    hr.line-separator.line-separator_thin
