div.load-avatar
    div
        form(name="image" action="http://localhost:8080/settings/avatar" method="POST" enctype="multipart/form-data")
            input#file(type="file" name="avatar")
            button( value="send" data-section="loadImage") Load image
        //a#file-button add file
div.profile-data
    div
        span Name:
        input(type="text" name="name" value=name)
    div
        span Bio:
        input(type="text" name="bio" value=bio)
    div
        span URL:
        input(type="text" name="url" value=url)
    div
        button#updateProfileData(type="button" value="Update!" data-section='loadUpdateProfile') Load data
