.popup
  .popup__content
    .popup__content__close-button
    .popup__content__title
      h2.title Сетевая ошибка!
    .popup__content__main
      p При отправке данных произошла ошибка, попробуйте позже.