div.section
    div.section__title
        h2.title Create a new repository
    div.section__main
        form.form_large(action='#' name="newRepository")
            hr.line-separator.line-separator_thin
            div.form__item
                label.form_large__item__label(for="rep-name") Repository name
                input.form__item__input#rep-name(type="text" name="rep-name")
            hr.line-separator.line-separator_thin
            div.form__item
                label.form_large__item__label(for="rep-description") Repository name
                input.form__item__input#rep-description(type="text" name="rep-description")
            hr.line-separator.line-separator_thin
            div.form__item
                input.form__item__input_radio(type="radio" name="rep-status" value=false checked)
                span Public
                input.form__item__input_radio(type="radio" name="rep-status" value=true)
                span Private
            hr.line-separator.line-separator_thin
            div.form__button
                button.button.button-colored(type="submit" name="create" data-section="sendNewRepository") Create repository
