div.header
    div.header__logo
        h1
            if auth
                a.route.header__logo_name(data-section='/profile/!{user}') Git
            else
                a.route.header__logo_name(data-section='/') Git
    div.header__search
        form.search(action='#')
            input.header__search_input(name='search' placeholder="Search..." type='text')
    div.header__menu
        if auth
            a.route.header__menu_item(data-section=`/profile/${user}`) My profile
            a#logout.route.header__menu_item  Logout
            image.header__menu_item(width='32' hight='32' src=image)
        else
            a.route.header__menu_item(data-section='/signup') SignUp
            a.route.header__menu_item(data-section='/signin')  SignIn
            
