div.header
    div.header__logo
        h1
            if auth
                a.route.header__logo_name(data-section=`/profile/${user}`) CodeHub
            else
                a.route.header__logo_name(data-section='/') CodeHub
    div.header__search
        //- form.search(action='#')
        input.header__search_input(name='search' placeholder="Поиск..." type='text')
    div.header__menu
        if auth
            a.route.header__menu_item(data-section=`/profile/${user}`) Мой профиль
            a#logout.header__menu_item(href='#')  Выйти
            image.header__avatar(width='32' hight='32' src=image alt='avatar')
        else
            a.route.header__menu_item(data-section='/signup') Регистрация
            a.route.header__menu_item(data-section='/signin') Авторизация

