@import "../logo/logo.css";
@import "../search/search.css";
@import "./main_menu/main_menu.css";

.header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 90px;
    min-width: 400px;
    background-color: #003366;
}

.header__logo {
    display: flex;
    margin: 0;
}


.header__search {
    margin: auto 20px auto auto;
}


.header__menu {
     display: flex;
}
