@import "./footer_menu/footer_menu.css";

.line-separator {
    margin: 0;
    color: #ff9900;
}

.line-separator_thin {
    opacity: 60%;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    min-height: 70px;
    min-width: 400px;
    background-color: #114499;
}

.footer__developer {
    font-size: 90%;
    color: #ffbb22;
    margin: auto auto auto 0;
}
