div#message.error-msg
form.form_large.issueForm(action='#' name='newIssue')
    div.form__item
        label.form_large__item__label(for="issueTitle")
            span.form__item__span Заголовок
            input#issueTitle.form__item__input.issueForm_input(type="text" name="issueTitle" autofocus required)

    div.form__item
        label.form_large__item__label(for="issueMsg") Текст
        textarea#issueMsg.form__item__input_long.issueForm_input-text(name="issueMsg")

    div.form__item
        label.form_large__item__label(for="issueLabel")
            span.form__item__span Метка
            input#issueLabel.form__item__input.issueForm_input(type="text" name="issueLabel")

    button#CreateIssue.button.button-colored.button-small.issueButton Добавить
    hr.line-separator.line-separator
