div.section
    div.section__title
        h2.title User #{username}/#{repName}
    div.section__main
        div.rep-menu__item
            button.button(type='submit') Code
        div.rep-menu__item
            button.button(type='submit') Settings
    hr.line-separator.line-separator_thin
    div.repository
    hr.line-separator.line-separator_thin