.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 30px 20px;
    min-height: 570px;
    color: #ffcf22;
}

/*
.section a {
    text-decoration: none;
    color: #ffcf22;
}*/

.section__title {
    display: flex;
}

.title {
    margin: 20px 0;
}

.section__main {
    margin: 10px 0;
}
