div.footer-line
    hr.line-separator
    div.footer
        div.footer__developer GitBreakers
        div.footer_menu
            div.menu
                a.footer__menu_item-small
                a.footer__menu_item-small
