$background-color: #e5e5e5;
$card-background-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.425);

$header-color: #344955;
$footer-color: #114499;
$font-color: #fca311;
$font-light-color: #000000;
$line-color: #fca311;
$form-border-color: #0a0500;

$input-color: #dddfe6;
$input-search-text-color: #c0c0c0;
$input-text-color: #000000;
$input-border-color: #2b363f;

// $button-border-color: #ffbf00;
$button-border-color: #fca311;
$table-border-color: #372a1b;

$file-field-background-color: #131826;
$file-field-borger-color: #0e1021;
$file-field-small-border-color: #372a1b;

$font-main: "sans-serif", "Arial";
$font-code: "Monaco", "Menlo", "Consolas", "Courier New", "monospace";
