$background-color: linear-gradient(#000000, #003399);
$header-color: #003366;
$footer-color: #114499;
$font-color: #ff9900;
$font-light-color: #ffcf22;
$line-color: #ffec68;
$form-border-color: #aa6622;

$input-color: #131826;
$input-search-text-color: #c0c0c0;
$input-text-color: #ffda5c;
$input-border-color: #2b363f;

$button-border-color: #ffbf00;
$table-border-color: #372a1b;

$file-field-background-color: #131826;
$file-field-borger-color: #0e1021;
$file-field-small-border-color: #372a1b;

$font-main: "sans-serif", "Ubuntu Condensed";
$font-code: "Monaco", "Menlo", "Consolas", "Courier New", "monospace";
