@import "constants";

#root {
  display: grid;
  margin-top: 10px;
}

.card {
  border: 1px solid;
  border-color: $form-border-color;
  background-color: $card-background-color;
  box-shadow: 3px 6px $shadow-color;

  margin: 40px 5%;
  padding: 15px 20px;
}

.card-small {
  border: 1px solid;
  border-color: $form-border-color;
  background-color: $card-background-color;
  box-shadow: 3px 6px $shadow-color;
  // margin: 40px 5%;
  margin-right: auto;
  margin-left: auto;
  padding: 15px 20px;
}

.content {
  min-width: 400px;
  min-height: calc(100vh - 160px);
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  color: $font-light-color;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  // margin: 40px 5%;
  // padding: 15px 20px;
  // margin-left: auto;
  // margin-right: auto;

  &__title {
    display: flex;
  }

  &__main {
    margin: 10px 0;
  }
}

.title {
  margin: 20px 0;
}

.line-separator {
  margin: 0;
  color: $font-color;
  border-color: $line-color;

  &_thin {
    opacity: 60%;
  }

  &_extra-thin {
    opacity: 30%;
  }
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}
.button:hover {
  cursor: pointer;
}

.error-msg {
  color: $font-light-color;
  font-weight: bold;
  font-size: 90%;
}
