@import "constants";


.header {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: max-content auto max-content;
  background-color: $header-color;
  border-bottom: 1px solid black;

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 30px;
    margin-left: 10px;
  }

  &__logo {
    grid-column: 1/2;
    align-self: center;

    &_name {
      margin: auto 20px auto 80px;
      text-decoration: none;
      color: $font-color;
    }
  }

  &__search {
    grid-column: 2/3;
    justify-self: end;
    align-self: center;

    &_input {
      height: 30px;
      border-radius: 5px;
      background-color: $input-color;
      color: $input-search-text-color;
      border-width: 0;
      padding-left: 10px;
      margin-right: 20px;
    }
  }

  &__menu {
    grid-column: 3/4;
    display: flex;
    margin: auto 20px;
    align-items: center;

    &_item {
      text-decoration: none;
      color: $font-color;
      padding: 0 10px;
    }
  }
}
