@import "constants";

body {
  margin: 0;
  background-color: $background-color;
  min-height: 100vh;
  font-family: $font-main;
  overflow-x: hidden;
}

@media (max-width: 670px) {
  .profile {
    width: 82%;
    margin-left: auto;
    margin-right: auto;
  }

  .profile__data > .card, .profile-info > .card {
    width: 95%;
    margin: 5px auto 45px auto;
  }
}

@media (max-width: 540px) {
  .header__search {
    display: none;
  }
  .card, .card-small, .section {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .card {
    margin-top: 0;
  }

  .content {
    margin-left: -2.5%;
  }

  .section {
    width: 85%;
  }

  .form {
    padding-left: 10px;
    padding-right: 10px;

    &__item {
      margin: 5px 0;
      font-size: 130%;

      &__input {
       // width: auto;
      }
    }
  }

  .header__logo, .header__menu, .header__logo_name {
    margin-left: 15px;
    margin-right: 15px;
  }

  .header__avatar {
    display: none;
  }

}

@media (max-width: 400px) {
  .menu {
    flex-direction: column;
  }
}


.welcome {
  display: grid;
  grid-template-columns: 3fr 2fr;
  // background-color: rgba(52, 75, 85, 0.75);
  padding: 0 100px 0 100px;

  &__col1 {
    grid-auto-flow: row;

    &__text {
      width: 60%;
      margin: 20% 25% 0 15%;
      //color: white;
      color: rgb(36, 51, 59);

      &_content {
        font-size: 90%;
      }
    }
  }

  &__col2 {
    padding: 45px;
    //background-color: #66a0e7;
    grid-auto-flow: row;
  }
}


@media (max-width: 800px) {
  .welcome {
    grid-template-columns: 100%;

    &__col1, &__col2 {
      margin-left: auto;
    }

    &__col1__text {
      width: 80%;
      margin: 20% 5% 0 15%;
    }
  }
}

@media (max-width: 470px) {
  .welcome__col1, .welcome__col2 {
    margin-right: -100px;
  }
}
