@import "constants";

.rep-menu {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: baseline;

    &-main {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }

    &-additional {
        //  margin-left: auto;
    }

    &__item {
        margin: 0 1% 10px 1%;
    }
}


.repository {
    margin: 20px 15px;

    &__list {

        &__issues {
            margin-left: 2px;
        }

        &__item {
            display: flex;
            margin: 40px 0 10px 0;
            text-decoration: none;
            flex-wrap: wrap;
            color: $font-light-color;

            &_message {
                font-size: 90%;
                margin-top: 30px;
                word-break: break-all;
            }

            &_title {
                font-weight: bold;
                margin: auto 30px auto 0;
                word-break: break-all;

                &-link {
                    text-decoration: none;
                }
            }

            &_info {
                font-size: 85%;
                margin: auto 20px auto 0;
              //  word-break: break-all;

                &-label {
                    font-size: 80%;
                }

                &_link {
                    text-decoration: none;
                    margin-left: 10px;
                }
            }

            &_avatar {
                width: 30px;
                height: 30px;
                border-radius: 30px;
                margin-bottom: -10px;
                object-fit: cover;
            }

            &_button {
                flex-wrap: wrap;
                margin-left: auto;
            }

            &__buttonField {
                display: flex;
                width: fit-content;
                margin: 10px 0 10px auto;

                &_button {
                    margin-right: 15px;
                }
            }
        }

        &__group {
            margin: 45px 0 60px 10px;

            &_title {
                margin: 0 0 -20px 0;
                word-break: break-all;
            }

            &_content {
                padding: 0 10px;
                margin-bottom: 50px;
                //word-break: break-all;
            }
        }
    }

    &__top {
        margin: -10px 0 10px 0;
        display: flex;
        flex-wrap: wrap;

        &_path {
            font-size: 90%;
            font-weight: bold;
            margin: auto 0;
            word-break: break-all;
        }

        &_button {
            margin: 10px 0 10px auto;
        }

        &__menu {
            margin-bottom: 10px;

            &_link {
                // font-size: 90%;
                // color: $font-main;
                // margin-right: 50px;
                display: none;
            }


            &_label {
                display: inline;
                padding: 5px 10px;
                border: 1px solid $button-border-color;
                border-radius: 7px 7px 0 0;
                margin-right: 10px;
                font-size: 80%;
                color: #878181;
                text-align: center;
                cursor: pointer;
            }

            &_label:hover,
            &_link:checked + label {
                background: #c9c5c5;
                color: white;
            }
        }
    }
}

.requestPage {
    margin: 30px 0 30px 2px;
    font-size: 90%;
}

.request {

    &_info_message {
        font-weight: bold;
    }

    &__state {
        position: relative;
    }

    &__status {
        height: 30px;
        border-radius: 7px;
        position: absolute;
        right: 20px;
        top: 4px;

        &_text {
            font-size: 90%;
            font-weight: bold;
            margin: 7px 15px 0 15px;

            &-green {
                color: #16580f;
            }

            &-grey {
                color: #707979;
            }
        }

        &-green {
            border: 2px solid #4eb843;
            background-color: #98f58f;
        }

        &-grey {
            border: 2px solid #b3bdbd;
            background-color: #c9d0d0;
        }
    }

    &__buttonField {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        font-size: 105%;
    }

    &__message {

        &__title {
            background: #eaeaea;
            margin: -10px;
            border-radius: 5px 5px 0 0;
            border-bottom: 1px solid #b2b8b8;
            height: 40px;
            padding-left: 15px;

            &_info {
                margin-top: 4px;
                margin-left: 10px;
                font-weight: bold;
                text-decoration: none;
                color: #0e1021;
            }

            &_avatar {
                margin-top: 6px;
            }
        }

        &__text {
            padding: 25px 5px 5px 5px;

            &-light {
                color: #9ba3a3;
                font-style: italic;
                font-size: 90%;
                margin-left: 5px;
            }
        }

        border: 1px solid #b2b8b8;
        border-radius: 5px;
        padding: 10px;
        width: 50vw;
        margin-top: 30px;
        margin-bottom: 40px;

    }

    &_link {
        font-weight: bold;
        text-decoration: none;

        &-large {
            color: #0e1021;
        }

        &-none {
            color: #0e1021;
            text-decoration: none;
        }
    }

    &__title {
        margin-left: 6px;

        &_data {
            font-size: 85%;
        }
    }


    &__border {

        border-radius: 5px;
        width: 50vw;
        padding: 10px;

        &__link {
            text-decoration: none;
            font-weight: bold;

            &-deleted {
                color: #707979;
            }

            &-accepted {
                color: #356c55;
            }
        }


        &-deleted {
            border: 2px solid #b3bdbd;
            background-color: #c9d0d0;
        }

        &-accepted {
            border: 2px solid #95d7bb;
            background-color: #c8fae5;
        }

        &-error {
            margin: 30px 0 30px 15px;
            border: 2px solid #e86666;
        }

        &-ok {
            border: 2px solid #4eb843;
        }

        &-problem {
            border: 2px solid #e86666;
        }


        &_text {
            margin: 0 20px 0 20px;

            &-deleted {
                color: #707979;
            }

            &-accepted {
                color: #356c55;
            }

            &-ok {
                color: #16580f;
            }

            &-problem {
                color: #992f2f;
            }

            &-warn {
                color: #58480f;

                &-bold {
                    color: #cda823;
                    font-weight: bold;
                }
            }

            &-error {
                margin-left: 10px;
                margin-top: -10px;

                &-bold {
                    margin: 12px 0 10px 0;
                    font-weight: bold;
                    color: #992f2f;
                }
            }
        }
    }




}

.issue_info_message {
    font-size: 90%;
    margin-left: 5%;
}
