@import "constants";
.repository {
  &__flex_container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    align-items: center;
  }

  &__stars {
    border: 1px solid black;

    &__text {
    }

    &__counter {
    }
  }
}

.repo_stars {
 // min-width: 80px;
  max-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 10px;
}

.repo_link {
  text-decoration: none;
  color: #0a0500;
}

.rep_stars__action {
  margin-right: 10px;
  max-height: 40px;
  border-right: 1px solid black;
  background-color: blanchedalmond;
}

.rep_stars__counter {
  max-height: 40px;
}

.link {
  &__copy {
    border: 1px solid $button-border-color;
    background-color: white;
    color: $font-color;
    border-radius: 0px 10px 10px 0px;
    font-size: 95%;
    height: 38px;
    margin-left: 0px;
    &:hover {
      cursor: pointer;
      color: grey;
    }
    &:focus {
      outline: none;
    }
  }

  &__box {
    margin-right: 0px;
    border: 1px solid;
    border-color: $button-border-color;
    // height: 28px;
    border-radius:  10px 0px 0px 10px;
    font-size: 95%;
    height: 34px;

    &:focus {
      outline: none;
    }

  }

}
