extends ../repository/repository.pug
block content
    div.repository__list
        div.repository__list__group
            each commit in commitList
                div.repository__list__group_title updated: #{commit.date}
                div.repository__list__group_content
                    div.repository__list__item
                        div.repository_list__item_title #{commit.title}
                        div.repository_list__item_info author: #{commit.author}
                        div.repository__list__item_button
                            button.button.button-colored.button-small(type='submit') *

