div.header
    div.header__logo
        h1.logo
            a.logo__name(href="#") Git
    div.header__search
        form.search(action='#')
            input.search__input(name='search' placeholder="Search..." type='text')
        div.header__menu
            div.menu
                a.menu__item(href="#" data-section='createSignUpPage') SignUp
                a.menu__item(href="#" data-section='createLoginPage')  SignIn