<div class="header">
    <div class="header__logo"><h1 class="logo"><a class="logo__name" href="#" data-section="profilePage">Git</a></h1>
    </div>
    <div class="header__search">
        <form class="search" action="#"><input class="search__input" name="search" placeholder="Search..." type="text"/>
        </form>
        <div class="header__menu">
            <div class="menu"><a class="menu__item" href="#" data-section="createSignUpPage">SignUp</a><a
                    class="menu__item" href="#" data-section="createLoginPage"> SignIn</a></div>
        </div>
    </div>
</div>